/* HEADER */
.header {
  height: 95vh; /* vh => viewport hight */
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.7), $color-primary-dark),
      url(https://images.pexels.com/photos/3996362/pexels-photo-3996362.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-position: top; /* Make the top of the img fixed on the top */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
  }
  &__logo {
      height: 3.5rem;
  }

  &__text-box {
      padding: auto;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
}